<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>296206332099-4gn272kan8psrp33g68hav4lc9q23jc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.296206332099-4gn272kan8psrp33g68hav4lc9q23jc0</string>
	<key>API_KEY</key>
	<string>AIzaSyDNRhbjqk_9CtUCRfAgt_QTbF2k2G0FrY8</string>
	<key>GCM_SENDER_ID</key>
	<string>296206332099</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>naquinojr.Language-Buddy</string>
	<key>PROJECT_ID</key>
	<string>language-buddy-900aa</string>
	<key>STORAGE_BUCKET</key>
	<string>language-buddy-900aa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:296206332099:ios:f50ae24b32d15d3d26f276</string>
</dict>
</plist>
